/*          Generelle indstillinger     */


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}











































/*      Generelle indstillinger SLUT   */
/*           Vælg land              */


































































































/*           Vælg land       slut       */
/*           Startsiden                 */


#splash {
    width: 100vw;
    height: 100vh;
    background-image: url();
    background-size: cover;
    max-width: none;
    background-attachment: fixed;


    background-color: antiquewhite;
    margin: 0 auto;
}


#startside {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#startside h1 {
    font-size: 2rem;
}

#startside h2 {}

#startside .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#startside .col1 {
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-content: center;

    background-color: aquamarine;
}

#startside .col1 .image {
    flex-grow: 1;
    flex-basis: 100px;
    padding: 0 0.6rem 0.6rem;
    margin: 0.8rem;
    width: 100px;
    height: 200px;


    background-color: indianred;
}


#startside .col2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-content: center;

    background-color: aquamarine;
}














































































/*           Startsiden   Slut           */

/*           Om os              */

































































































/*           Om os              */

/*           Kontakt os              */

































































































/*           Kontakt os        Slut      */

/*           Jagtviden              */

































































































/*           Jagtviden       slut       */

/*           Klik Jagtviden              */

































































































/*           Klik Jagtviden              */

/*           Produkt view              */

#produktview_b #produktview {
    /*    max-width: 1200px;*/
    margin: 0;
}

#produktview_b .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#produktview_b .col_wide {
    display: flex;
    flex-wrap: wrap;

    flex-grow: 1;
    flex-basis: 960px;
}

#produktview_b .col_narrow {
    display: flex;
    flex-wrap: wrap;

    flex-grow: 1;
    flex-basis: 240px;
}

#produktview_b .col_narrow .col_n {

    flex-wrap: wrap;

    flex-grow: 1;
    flex-basis: 240px;
}

#produktview_b .image {
    height: 300px;

}

#produktview_b .image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 50% 38%;

}

#produktview_b h1 {
    font-size: 2rem;
    text-align: center;
}

#produktview_b p {

    text-align: center;
    margin-left: 12px
}

#produktview_b .container {
    display: flex;
    flex-wrap: wrap;

    flex-grow: 1;
    flex-basis: 960px;
    flex-direction: row;


}

#produktview_b .content_box {
    display: flex;
    flex-wrap: wrap;

    flex-basis: 243px;
    flex-basis: 1;

    margin: 3px;



}

#produktview_b .image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* dropdown menu ****************/
.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 280px;
    padding: 0;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #d3d4d4;
}

.dropdown {
    position: relative;
    display: inline-block;

    flex-grow: 1;
    flex-basis: 240px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

/* menu 2 */
.dropbtn2 {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 280px;
    padding: 0
}

.dropbtn2:hover,
.dropbtn2:focus {
    background-color: #d3d4d4;
}

.dropdown2 {
    position: relative;
    display: inline-block;

    flex-grow: 1;
    flex-basis: 240px;

}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}


































































































/*           Produkt view       slut       */

/*          Klik Produkt             */

































































































/*          Klik Produkt             */

/*          Klik Forhandler             */

































































































/*          Klik Forhandler             */
